
    <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <img src="https://www.arteco.pe/img/logoBg.png"  width="1px" alt="" class="card-img-top card-logo">
            <form class="form-signin">
              <div class="form-label-group">
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                <label for="inputEmail">Email address</label>
              </div>

              <div class="form-label-group">
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                <label for="inputPassword">Password</label>
              </div>
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Ingresar</button>
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>
    <!-- Gerard Altamirano is not the author -->
    <!-- Template from: https://startbootstrap.com/snippets/login/  -->
