    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card card-signin my-5">
            <div class="card-body">
              <img src="https://www.arteco.pe/img/logoBg.png"  width="1px" alt="" class="card-img-top card-logo">
              <form class="form-signin">
                <div class="form-label-group">
                  <input type="email" id="inputEmail" class="form-control" placeholder="Usuario" required autofocus>
                  <label for="inputEmail">Usuario</label>
                </div>
  
                <div class="form-label-group">
                  <input type="password" id="inputPassword" class="form-control" placeholder="Clave" required>
                  <label for="inputPassword">Clave</label>
                </div>
                <a [routerLink]="['/dashboard']">
                   <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Ingresar</button>
                </a>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>

      <!-- Gerard Altamirano is not the author -->
      <!-- Template from: https://startbootstrap.com/snippets/login/  -->